.footer {
  background: #d7dee4;
  color: #0f172a;
  padding: 80px 0 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 180px;
  margin-bottom: 100px;
  width: 799px;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  width: 144px;
}

.stat h2 {
  font-size: 44px;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.stat p {
  font-size: 16px;
  color: rgba(12, 18, 42, 1);
  margin-top: 6px;
  text-align: center;
  width: 144px;
}

.links {
  display: flex;
  justify-content: center;
  width: 483px;
  margin-bottom: 24px;
}

.nav {
  display: flex;
  gap: 27px;
}

.nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 9%;
  text-transform: uppercase;
  color: rgba(12, 18, 42, 1);
}

.nav a:hover {
  text-decoration: underline;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: rgba(244, 244, 244, 1);
  margin: 24px 0;
}

.copyright {
  font-size: 14px;
  text-align: center;
  color: rgba(158, 160, 170, 1);
  width: 100%;
}   


















